<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/styles/common.css" />
    <link rel="stylesheet" href="../static/styles/header.css" />
    <link rel="stylesheet" href="../static/styles/footer.css" />
    <link rel="stylesheet" href="../static/styles/login_register.css" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../static/images/favicon/site.webmanifest" />

    <title>
		{% block title %}
		{% endblock %}
	</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand mb-0 h1" href="{{ url_for('home_route') }}">DishCovery</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link {% if request.path == url_for('home_route') %}active{% endif %} " href="{{ url_for('home_route') }}">Home</a>
            <a class="nav-item nav-link {% if request.path == url_for('login_route') %}active{% endif %} " href="{{ url_for('login_route') }}"
              >Login</a
            >
            <a class="nav-item nav-link {% if request.path == url_for('register_route') %}active{% endif %}" href="{{ url_for('register_route') }}">Register</a>
            <!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
          </div>
        </div>
      </nav>
    </header>
    <main class="form-signin">
     {% block main %}
	 {% endblock %}
    </main>
    <footer class="bg-success login_footer">
      <p class="mt-5 mb-3 fs-5 font-weight-bold">&copy;DishCovery 2024</p>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
