{% extends 'base_1.html' %} {% block title %} Register {% endblock %} {% block
	main %}
	<div class="container">
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
					{{ message.strip("[]").strip("\'").strip("\"") }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				  </div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	  <main class="form-signin">
		<form method="POST" action="/login">
			<!-- ---protect from cros forgery attacks--- -->
			{{ form.hidden_tag() }}

		  <h1 class="h3 mb-3 fw-normal">Please Sign in</h1>
	
		  
		  <div class="form-floating">
			{{ form.email_address(class="form-control", id="email", placeholder="name@email.com") }}
			{{ form.email_address.label(for="email") }}
		  </div>
		  <div class="form-floating">
			{{ form.password1(class="form-control", id="password", placeholder="Password") }}
			{{ form.password1.label(for="password") }}
		  </div>
	
		  <div class="form-floating" style="margin-top:10px">
			<span>Do not have and account</span> <a href="{{ url_for('register_route') }}" class="btn btn-sm btn-secondary">Register</a>
		  </div>
		  {{ form.submit(class="w-100 btn btn-lg btn-secondary custom-register") }}
		</form>
	  </main>
	</div>
	{% endblock %}
	