{% extends 'base_2.html' %} {% block script %}

<script src="../static/scripts/addIngridents.js"></script>
<script src="../static/scripts/makeSuggestion.js"></script>
<script src="../static/scripts/collectRecipeDetails.js"></script>
{% endblock %} {% block title %} Recipe Finder {% endblock %} {% block styles%}
<link rel="stylesheet" href="../static/styles/bootstrap.min.css" />
<link rel="stylesheet" href="../static/styles/recipe_finder.css" />

{% endblock%} {% block main %}

<div class="container-sm recipe_finder_container">
  <main class="recipe_finder">
    <div class="main-logo">
      <h1>DishCovery</h1>
    </div>
    <div class="">
      <h3>Hello <span class="badge bg-warning">User</span></h3>
      <p class="lead">
        Type in or choose the ingredients and meal details you would like to
        have for your next dish.
      </p>
    </div>
    <div class="par_container shadow-lg">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <br />
          <h4>
            <span class="badge rounded-pill bg-secondary"
              >Ingridents and Restriction selection</span
            >
          </h4>
          <br />
          <form class="needs-validation recipe_form" novalidate>
            <div class="row">
              <div class="col-12 ingredientContainer">
                <label for="ingredient" class="form-label"
                  >Add ingredients using the
                  <span class="badge rounded-pill bg-secondary">Add</span>
                  button</label
                >
                <div class="input-group">
                  <input
                    id="ingredients"
                    type="text"
                    list="suggestions"
                    class="form-control shadow"
                    placeholder="Eggs, Tomato, Cheese, ..."
                    required
                  />
                  <button
                    id="addIngredientButton"
                    class="btn btn-secondary rounded-pill shadow"
                    style="margin-left: 10px"
                    type="button"
                  >
                    Add
                  </button>
                  <datalist id="suggestions"> </datalist>
                </div>
              </div>

              <hr class="my-4" />
              <div class="col-12">
                <label for="cuisines" class="form-label"
                  >Cuisine Type -
                  <span class="badge rounded-pill bg-secondary"
                    >Style of cooking</span
                  ></label
                >
                <select id="cuisines" class="form-select shadow">
                  {% for cuisine in cuisines%}
                  <option value="{{ cuisine }}">{{ cuisine }}</option>
                  {% endfor %}
                </select>
              </div>

              <hr class="my-4" />
              <div class="col-12">
                <label for="meals" class="form-label"
                  >Meal Type<span class="badge rounded-pill bg-secondary"></span
                ></label>
                <select id="meals" class="form-select shadow">
                  {% for meal in meals%}
                  <option value="{{ meal }}">{{ meal }}</option>
                  {% endfor %}
                </select>
              </div>
              <hr class="my-4" />
              <div class="col-12">
                <label for="dishes" class="form-label"
                  >Dish Type<span class="badge rounded-pill bg-secondary"></span
                ></label>
                <select id="dishes" class="form-select shadow">
                  {% for dish in dishes%}
                  <option value="{{ dish }}">{{ dish }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <div class="d-grid gap-2 col-2 mx-auto recipe_button">
    <button
      id="sumbitRecipeButton"
      class="btn btn-secondary btn-lg shadow"
      type="submit"
    >
      Find Recipe
    </button>
  </div>
</div>

{% endblock %}
