body {
	background-color: unset;
	min-height:100vh;
  }
.section-container {
	padding-top: 120px;
	padding-bottom: 70px;
	min-height: 100vh;
}

.main {
	height: inherit;
    padding: 40px;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, .03);
    background: #fff;
    border-radius: 6px;
    text-align: center;
}
.primary-text {
    font-size: 40px;
    font-weight: 600;
}
.secondary-text{
	font-weight: 500;
	font-size:17px;
}
.secondary-text:last-of-type{
	margin-bottom:30px;
}
.action-btn{
	text-decoration: none;
	font-size:25px;
	color:#88ab8e;
	font-weight: 500;
	transition: all .4s ease;
}
.action-btn:hover{
	color:#81a087;
	text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.03);
}

.inner_footer {
    bottom: unset;
}
.navbar-dark,
.navbar-toggler {
    color: rgba(255,255,255,1) !important;
    border-color: rgba(255,255,255,1) !important
}

/* Modal */
.modal-dialog {
    max-width: 55% !important;
}
.modal-content{
	padding:40px;
	overflow: hidden;
}
.modal-sections{
	display:flex;
	column-gap: 30px;
}
.left-section,
.right-section{
	flex-basis:50%;
}
.left-section{
	/* background-color:orange; */
	flex-basis:40%;
}
.left-section img {
    width: 100%;
    border-radius: .6rem;
    margin-bottom: 10px;
}
.recipe-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin-bottom:20px;
}
.info {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 12px;
    font-weight: 500;
}
a.fulldetails {
    color: unset;
}
.click-view-content {
    background: #948979;
    width: 200px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 5px 10px;
    margin-bottom: 30px;
	box-shadow: 1px 2px 7px rgba(0,0,0,.3);
	cursor: pointer;
    color: #fff;
    font-weight: 400;
	transition:background-color .4s ease,
}
.click-view-text {
    margin-right: 5px;
}
.click-view {
    text-decoration: none;
}
.click-view:hover{
	color: #fff;
}
.click-view-content:hover{
	background-color:#AF8260;
	color:#fff;
	box-shadow: 1px 2px 7px rgba(0,0,0,.3);
}

.show-tags ion-icon {
    margin-left: 5px;
}
.show-tags {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.tags-content {
    display: flex;
    row-gap: 10px;
    column-gap: 10px;
    flex-wrap: wrap;
}


.tag {
    font-size: 14px;
    background-color: #c2ccdc;
    padding: 5px;
    border-radius: 10px;
}

.right-section{
	/* background-color:turquoise; */
	flex-basis:60%;
}
.ingredient {
    font-size: 14px;
    /* font-weight: 500; */
    border-bottom: 1px solid  #c2ccdc;
    padding-bottom: 3px;
    margin-bottom: 5px;
}
.ingredients-list {
    /* margin-bottom: 20px;
    margin-top: 20px; */
    font-weight: 600;
    font-size: small;
    font-family: cursive;
}
.ingredients-section {
    background-color: #81a0876d;
    border-radius: 5px;
    padding: 20px 0;
    flex-wrap: wrap;
}
ul.ingredients-section {
    margin: 15px 0;
}
h3.heading-secondary {
    font-size: 16px;
    color: #a1a1a1;
}
.author {
    color: #ebad28;
    font-weight: 500;
}
.recipe-author {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 14px;
    margin-bottom: 20px;
}
.recipe-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.modale-footer{
	margin-top:20px;
	display:flex;
	align-items: center;
	justify-content: center;
}
button.btn.btn-primary.btn-book {
    padding: 10px 40px;
    background-color: #003C43;
    font-weight: 500;
    border: none;
	transition:background-color .4s ease,
	box-shadow .4s ease;
}
button.btn.btn-primary.btn-book:hover {
    background-color: #77B0AA ;
}
.main {
    background: #9b863314;
}
.card-container {
    border-radius: 15px;
}
.card {
    border-radius: inherit;
}
.pdf-btn {
    color: #fff
}
.main-logo h1 {
    text-align: center;
    font-family: cursive;
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #fff2f2, #689e3c);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }


.btn:focus,.btn:active {
	outline: none !important;
	box-shadow: none !important;
}
.btn:focus-visible {
	outline: none !important;
	box-shadow: none !important;
}
.btn:hover{
	box-shadow: 1px 2px 7px rgba(0,0,0,.3);
}
.card-healthLables span {
    background-color: #adb5bd6b; /* Background color of the box */
    border-radius: 5px; /* Rounded corners for the box */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 3px;
}

@media screen and (max-width: 575px){
	.col-custom{
		display:flex;
		justify-content: center;
	}
	
}
@media screen and (min-width: 576px){
	.col-custom{
		display:flex;
	}
}
