html,
body {
  /* display: flex; */
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
}
a.logo {
  font-family: cursive;
  background-image: linear-gradient(to left, #fff2f2, #689e3c);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.custom-toggler,
.navbar-toggler {
	border-color: rgb(255,255,255) !important;
	color:#fff !important;
  }
  
