body {
  background-color: unset;
}
div main.recipe_finder {
  height: inherit;
}
.recipe_finder_container {
  margin-top: 70px;
  margin-bottom: 40px;
  padding: 50px 15px 0px 15px ;
}

.par_container {
  background-color: #88ab8e;
  border-radius: 10px;
  color: white;

  width: 80%;
  margin: auto;
}
.recipe_button {
  display: flex;
  justify-content: center;
}
button.btn-add {
  margin-left: 10px;
}
.recipe_button {
  margin-top: 50px;
  margin-bottom: 40px;
}
.recipe_form {
  margin-bottom: 50px;
}
footer.inner_footer {
  bottom: unset;
}
.main-logo h1 {
  font-family: cursive;
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #fff2f2, #689e3c);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
div.selectedIngredients {
  display: inline;
  margin-right: 10px;
}
p.ingredientText {
  display: inline;
}
.navbar-dark,
.navbar-toggler {
  color: rgba(255, 255, 255, 1) !important;
  border-color: rgba(255, 255, 255, 1) !important;
}

@media (max-width: 768px) {
  .recipe_finder_container {
    /* padding: 50px 50px 0px 0px; */
  }
  main.recipe_finder {
    padding: 0 5px 0 5px;
  }
  .main-logo h1 {
    /* color: #689e3c; */
    background-image: linear-gradient(to right, #4b4f4a, #449e3c);
    font-size: 60px;

  }
  .par_container {
    width: auto;
    padding: 0 5px 0 5px;
  }
}